.content_first_social_title {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}

.social_list {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.social_item {
  display: flex;
  align-items: center;
  color: var(--body-text-color, #444);
  font-size: 12px;
  font-weight: 600;
}

.social_item:after {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #444;
  margin-left: 15px;
}

.social_item:last-child:after {
  display: none;
}